* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.gallery {
  display: grid;
  max-width: 860px;
  width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gallery > a {
  display: block;
  margin: 0 auto;
}

/* On hover scale effects */
.gallery img {
  transition-property: scale, opacity;
}

.gallery img:hover {
  scale: 1.1;
  transition-duration: 0.45s;
}

.gallery img:not(:hover) {
  transition-duration: 0.7s;
}

.gallery:has(img:hover) img:not(:hover) {
  scale: 0.925;
  opacity: 0.75;
}